@{
    Layout = "Shared/_Layout.cshtml";
}

<h3>Name: @Model["recipe"].GetName()</h2>
<p>Ingredients: @Model["recipe"].GetIngredients()</p>
<p>Instructions: @Model["recipe"].GetInstructions()</p>
<h3>Rating: @Model["recipe"].GetRating()</h2>

@if (@Model["recipeCategories"].Count != 0)
{
  <h4> This recipe is associated with the following categories:</h4>
  <ul>
    @foreach(var category in @Model["recipeCategories"])
    {
      <li>@category.GetStyle()</li>
    }
  </ul>
}

<h4>Add a category to this recipe:</h4>
<form action="/category_added" method="post">
  <input id="recipe-id" name="recipe-id" type="hidden" value='@Model["recipe"].GetId()'>
  <label for="category-id">Select a category</label>
  <select id="category-id" name="category-id" type="text">
    @foreach (var category in @Model["allCategories"])
    {
      <option value='@category.GetId()'>@category.GetStyle()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
